.task {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-between;
}

.delete {
  display: none;
  font-weight: 600;
}

.task:hover > .delete {
  display: block;
  cursor: pointer;
}

.title-header {
  display: flex;
}

.title-header:hover > .delete {
  margin: 20px 0px 0px 0px;
  display: block;
  cursor: pointer;
}

.task-item {
  display: flex;
  flex-wrap: wrap;
}
.taskInput {
  width: 250px;
}

.todo-container {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.box {
  height: 15px;
  width: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  margin: 5px 5px 5px 2px;
}

.taskContent,
.delete {
  text-decoration: none;
  margin: 5px 5px 7px 5px;
}

.title {
  font-size: 30px;
  font-weight: bolder;
  width: 250px;
  margin: 10px 0px;
  cursor: pointer;
}

.todo .box {
  background-color: lightblue;
}

.doing .box {
  background-color: orange;
}

.done .box {
  background-color: mediumseagreen;
}

.doing .taskContent {
  text-decoration: none;
}

.todo .taskContent {
  text-decoration: none;
}

.done .taskContent {
  text-decoration: line-through;
}
