.todo {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.todo-container {
  width: 30%;
  margin: 0 auto;
}

.box {
  height: 15px;
  width: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  margin: 5px 5px 5px 2px;
}

.done {
  text-decoration: line-through;
  margin: 5px 5px 7px 5px;
}

.not-done,
.doing {
  text-decoration: none;
  margin: 5px 5px 7px 5px;
}

.fill-blue {
  background-color: lightblue;
}

.fill-green {
  background-color: mediumseagreen;
}

.fill-orange {
  background-color: orange;
}
