.task {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.taskInput {
  width: 50%;
}

.todo-container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.box {
  height: 15px;
  width: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  margin: 5px 5px 5px 2px;
}

.taskContent {
  text-decoration: none;
  margin: 5px 5px 7px 5px;
}
/* .done {
  text-decoration: line-through;
  margin: 5px 5px 7px 5px;
} */

/* .todo,
.doing {
  text-decoration: none;
  margin: 5px 5px 7px 5px;
} */
/* 
.fill-blue {
  background-color: lightblue;
}

.fill-green {
  background-color: mediumseagreen;
}

.fill-orange {
  background-color: orange;
} */

.title {
  font-size: 30px;
  font-weight: bolder;
  width: 50%;
  margin: 10px 0px;
  cursor: pointer;
}

.todo .box {
  background-color: lightblue;
}

.doing .box {
  background-color: orange;
}

.done .box {
  background-color: mediumseagreen;
}

.doing .taskContent {
  text-decoration: none;
}

.todo .taskContent {
  text-decoration: none;
}

.done .taskContent {
  text-decoration: line-through;
}
